/* Reset some default browser styling */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e8e8e9;
    color: #2c2c2c;
    line-height: 1.6;
    padding: 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  h1, h2, h3 {
    font-weight: 600;
    color: #1a1a1a;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 2rem;
    border-bottom: 0.5px solid #343637;
    line-height: 1.2;
    padding-bottom: 0.5rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  
  a {
    color: #007acc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  section {
    margin-bottom: 2rem;
  }
  